django
djangorestframework
djangorestframework-simplejwt
django-filter
# djangorestframework-csv
# drf-excel
psycopg2-binary
drf-yasg
python-dotenv
black
openpyxl
xlsxwriter
factory_boy
faker_vehicle
flake8
pandas
